<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>546163722640-fkquvosg673idmi7r5emaqjj8ikg17r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546163722640-fkquvosg673idmi7r5emaqjj8ikg17r0</string>
	<key>API_KEY</key>
	<string>AIzaSyCb7eogkI5Bml9RSVwigkG4NAtRM3NKOso</string>
	<key>GCM_SENDER_ID</key>
	<string>546163722640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyrusblaer.Park-</string>
	<key>PROJECT_ID</key>
	<string>park-85dbf</string>
	<key>STORAGE_BUCKET</key>
	<string>park-85dbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546163722640:ios:a50e724efbc7e7a6</string>
	<key>DATABASE_URL</key>
	<string>https://park-85dbf.firebaseio.com</string>
</dict>
</plist>